/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
  background-color: #FFDE00;
  background-image: none;
}

.nav.navbar-nav a {
     color: #000000 !important; 
 }

 .navbar-brand {
  color: #000000 !important;
 }

 .navbar-brand:hover {
  font-weight: bold;
}

.navbar-nav li:hover {
 font-weight: bold; 
}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 10px auto;
  margin-top: -0;
  background: #F7D4D5; 
}

.marketing .col-md-6 .glyphicon {
  font-size: 40px;
  background-color: #13547a;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}

.fa-10x {
  font-size: 110px;
  padding-top: 0px;
}

.button-div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.passie-block {
  padding-top: 20px;
  vertical-align: center;
}

.passie-block p {
  font-size: 18px;
  padding-top: 10px;
}

.passie-block .row {
  padding-top: 15px;
}

/* CTA 
-------------------------------------------------- */

/* Social proof 
-------------------------------------------------- */

.social-proof {
  background-image: linear-gradient(180deg, #FFFFFF, #D7D2C9);
}

.social-proof h2 {
  text-align: center;
}

.social-proof p {
 text-align: center; 
}

.social-proof .review {
  font-weight: bold;
  font-size: 20px;
}

.center-block {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Image
-------------------------------------------------- */

.img-fluid-yes {
  padding-top: 0px;
}


/* Button 
-------------------------------------------------- */

.btn {
  font-size: 20px;
  background: none;
  padding: 12px 30px;
}

.btn-outline-primary {
  border: 2px solid #000000;
  color: #000000;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
  color: #000000;
  border-color: #FFDE00;
  background: #FFDE00;
  font-weight: bold;
}

.btn-outline-primary:active, .btn-outline-primary.active {
  border-color: #13547a;
  color: #13547a;
  box-shadow: none;
}

/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: #FFDE00;
  color: black;
  padding: 50px 0;
}

.email-link {
  color: grey;
  text-shadow: white;
}

.email-link:hover {
  color: white;
  font-weight: bold;
}

/* RESPONSIVE CSS
-------------------------------------------------- */